body{
    font-family: 'Poppins', sans-serif;
}
/* TOP SECTION */
.head{
    width: 245px;
    height: 45px;
    margin: 80px 0px 0px 126px;
    font-size: 1.3em;
}
.top-section{
    display: flex;
}
.top-blog{
    width: 580px;
    height: 275px;
    margin: 40px 128px 0px 126px;
}
.top-blog h1{
    font-size: 50px;
    margin-top: 0px;
}
.button{
    display: inline-flex;
    width: 195px;
    height: 35px;
    padding: 10px 24px 10px 24px;
    border-radius: 40px;
    background-color:#e02c6d;
    text-decoration: none;
}
.button-text{
    font-size: 1.43em;
    color: white;
    margin-right: 10px;
}
.button-icon{
    color: white;
    font-size: 1.5em;
}
.top-blog-image{
    width: 440px;
    height: 414px;
}
/* Middle Section  */
.container{
    position: absolute; 
}
.product-collection{
    width: 260px;
    height: 70px;
    font-size: 1.7em;
    margin: 70px 0px 30px 590px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-gap: 60px;
    margin-left: 160px;
    background-color: #d8d5d5;
    border-radius: 10px;
    padding: 10px;
}
.name{
    font-size: 28px;
    margin-top: 6px;
    margin-bottom: 0px;
}
.product{
    width: 330px;
    height: 470px;
    background-color: white;
    padding-left: 20px;
    padding-top: 15px;
    border-radius: 10px;
}
.product .product-img img{
    width: 300px;
    height: 255px;
}
.price{
    margin-bottom: 0px;
    margin-top: 6px;
}
.about-product{
    font-size: 18px;
    color: rgb(100, 98, 98);
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star.empty{
    color: darkgrey;
}